# Build outputs
forge-port/.gradle/
forge-port/build/
forge-port/bin/
forge-port/logs/
forge-port/tmp/
forge-port/run/
forge-port/gradlehome/
forge-port/*/.gradle/
forge-port/*/build/
forge-port/*/bin/
forge-port/*/logs/
forge-port/*/tmp/
forge-port/*/run/
forge-port/*/gradlehome/
forge-port/*/repo/

# IDE / OS
*.bak
*.iml
.idea/
.vscode/
*.class
